[submodule "captioning/fastText"]
	path = captioning/fastText
	url = https://github.com/facebookresearch/fastText.git
[submodule "captioning/pythia"]
	path = captioning/pythia
	url = https://github.com/facebookresearch/pythia.git
[submodule "captioning/vqa-maskrcnn-benchmark"]
	path = captioning/vqa-maskrcnn-benchmark
	url = https://gitlab.com/meetshah1995/vqa-maskrcnn-benchmark.git
